.catalog {
  max-width: 1680px;
  background-color: #f7f5fa;
  padding: 0 120px;
  width: 100%;
  margin-top: 80px;
}

.catalog__container {
  max-width: 1680px;
  display: flex;
  flex-direction: column;
}

.catalog__title {
  margin: 0;
  font-size: 40px;
  font-family: Rubik;
  line-height: 135%;
  letter-spacing: 0.4px;
  font-weight: 400;
}

.catalog__top {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 40px;
}

.catalog__button {
  border: none;
  background: none;
  padding: 0;
}

.catalog__button-image {
  width: 32px;
  height: 32px;
  margin-left: 50px;
}

.catalog__button-image_first {
  transform: rotate(360deg);
}

.catalog__cards {
  width: 2816px;
  height: 288px;
  gap: 24px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.catalog__card {
  width: 544px;
  height: 288px;
  display: flex;
  background-color: #fff;
  border-radius: 36px;
  overflow: hidden;
  position: relative;
}

.catalog__card-nav {
  margin: 40px 38px 40px 40px;
}

.catalog__subtitle {
  font-size: 28px;
  font-family: Rubik;
  line-height: 135%;
  letter-spacing: 0.28px;
  margin: 0;
  font-weight: 400;
}

.catalog__button-nav {
  font-size: 18px;
  font-family: Rubik;
  line-height: 135%;
  border: none;
  background: none;
  color: #6d41a1;
  padding: 0;
  align-items: center;
  display: flex;
  margin-top: 146px;
  width: 200px;
  font-weight: 400;
}

.catalog__button-nav-image {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

.catalog__product-image_angle {
  position: absolute;
  top: 5px;
  left: 140px;
  width: 404px;
  height: 282px;
}
.catalog__products {
  max-width: 1680px;
  display: flex;
  flex-direction: column;
}
.catalog__products-title {
  font-size: 40px;
  font-family: Rubik;
  line-height: 135%;
  letter-spacing: 0.4px;
  margin: 120px 0 40px;
  font-weight: 400;
}

.catalog__products-cards {
  height: 405px;
  gap: 24px;
  display: flex;
  flex-direction: row;
}

.catalog__products-card {
  width: 402px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 36px;
  position: relative;
}

.catalog__product-image {
  background: none;
  width: 402px;
  top: 14px;
  left: 272px;
}

.catalog__products-subtitle {
  font-size: 18px;
  font-family: Rubik;
  line-height: 135%;
  margin: 8px 24px 0;
  font-weight: 400;
}

.catalog__products-card-nav {
  display: flex;
  margin: 28px 24px 28px;
  justify-content: space-between;
  align-items: center;
}

.catalog__products-price {
  font-size: 24px;
  font-family: Rubik;
  line-height: 140%;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.catalog__products-button-nav {
  border: none;
  padding: 0;
  background: none;
  width: 156px;
  height: 44px;
  border-radius: 44px;
  border: 2px solid #6d41a1;
  font-size: 16px;
  font-family: Rubik;
  line-height: 135%;
  color: #6d41a1;
  font-weight: 400;
}

.catalog__products-number {
  position: absolute;
  font-size: 14px;
  font-family: Rubik;
  line-height: 135%;
  color: #8b898c;
  top: 24px;
  left: 24px;
  font-weight: 400;
}

.catalog__products-price_purple {
  color: #6d41a1;
}

.catalog__products-oldprice {
  font-size: 14px;
  font-family: Rubik;
  line-height: 135%;
  color: #8b898c;
  text-decoration-line: line-through;
  margin: 0;
  font-weight: 400;
}

.catalog__products-info {
  position: absolute;
  font-size: 14px;
  font-family: Rubik;
  line-height: 18.9px;
  color: #fff;
  background-color: #6d41a1;
  text-align: center;
  border-radius: 16px;
  top: 24px;
  right: 24px;
  width: 59px;
  height: 27px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.catalog__products-info_green {
  background-color: #3dccc7;
}

.catalog__button-go {
  margin: 40px auto 72px;
  border: 2px solid #6d41a1;
  width: 255px;
  height: 60px;
  border-radius: 36px;
  color: #6d41a1;
  font-size: 18px;
  font-family: Rubik;
  line-height: 135%;
  font-weight: 400;
}

.catalog__product-image_position {
  position: absolute;
}

@media screen and (max-width: 400px) {
  .catalog {
    max-width: 351px;
    padding: 0 12px;
    margin-top: 20px;
  }

  .catalog__title {
    font-size: 28px;
    letter-spacing: 0.28px;
  }

  .catalog__top {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .catalog__buttons {
    display: flex;
  }

  .catalog__button {
    border: none;
    background: none;
    padding: 0;
  }

  .catalog__button-image {
    width: 24px;
    height: 24px;
    margin-left: 18px;
  }

  .catalog__cards {
    height: 240px;
    gap: 12px;
  }

  .catalog__card {
    width: 323px;
    height: 240px;
    border-radius: 32px;
  }

  .catalog__card-nav {
    margin: 32px 0 32px 20px;
  }

  .catalog__subtitle {
    font-size: 20px;
  }

  .catalog__button-nav {
    border: none;
    background: none;
    margin-top: 125px;
  }

  .catalog__product-image {
    width: 225px;
    height: 217px;
    top: 11px;
    left: 193px;
  }

  .catalog__product-image_angle {
    top: 5px;
    left: 140px;
    width: 404px;
    height: 282px;
  }

  .catalog__product-image_mobile {
    width: 352px;
    height: 248px;
  }

  .catalog__products-title {
    font-size: 28px;
    letter-spacing: 0.28px;
    margin: 40px 0 16px;
  }

  .catalog__products-cards {
    height: 1624px;
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .catalog__products-card {
    width: 351px;
    height: 397px;
    border-radius: 32px;
  }

  .catalog__products-subtitle {
    margin: 8px 20px 0;
    font-size: 16px;
  }

  .catalog__products-card-nav {
    margin: 24px 20px 20px;
  }

  .catalog__products-price {
    font-size: 20px;
    padding: 0;
    width: 123px;
  }

  .catalog__products-button-nav {
    border: none;
    background: none;
    border-radius: 28px;
    border: 2px solid #6d41a1;
  }

  .catalog__products-number {
    top: 20px;
    left: 20px;
  }

  .catalog__products-info {
    position: absolute;
    font-size: 14px;
    color: #fff;
    background-color: #6d41a1;
    text-align: center;
    border-radius: 16px;
    top: 20px;
    right: 20px;
    width: 30px;
    padding: 4px 12px;
    margin: 0;
  }

  .catalog__products-info_green {
    background-color: #3dccc7;
  }

  .catalog__button-go {
    margin: 32px auto;
    border: 2px solid #6d41a1;
    width: 351px;
    height: 52px;
  }
}
